@font-face {
    font-family: 'Web font';
    src: url('opensans.woff2') format('woff2'),
        url('opensans.woff') format('woff'),
        url('opensansbold.woff2') format('woff2'),
        url('opensansbold.woff') format('woff'),
        url('opensanslight.woff2') format('woff2'),
        url('opensanslight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;;
    font-family: 'Open Sans', sans-serif, "Arial", sans-serif;
    font-weight: 400;
}
.wrapper {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    z-index:1;
}
.visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}
.main {
    z-index: 1;
}
ul {
    list-style: none;
    padding: 0;
}
@tablet-width : 660px;
@desktop-width: 1200px;
@header-break: 1199px;