.intro-photos {
  min-height: 170px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: top -67px left 0px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.intro-photos__title {
  padding-top: 9px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  padding-left: 48px;
  max-width: 225px;
  font-size: 24px;
  line-height: 29px;
}
