.intro {
    color: #fff;
    text-align: center;
}
.intro__top {
    background: url(../img/bg-back-mobile@1x.jpg) no-repeat;
    background-position: top 0 left 50%;
    background-color: #283645;
}
.intro__title {
    font-weight: 300;
    width: 225px;
    display: inline-block;
}
.intro__wrapper::after {
    content: "";
    position: absolute;
    background: url(../img/iphone-hand-mobile@1x.png)  no-repeat center 0px;
    width: 258px;
    height: 286px;
    bottom: 0;
    left: 50%;
    transform: translatex(-61%);
}
.intro__wrapper {
    position:relative;
    padding-bottom: 304px;
    padding-top: 52px;
}
.app {
    background-color: #1d2631;
    padding-top: 29px;
    padding-bottom: 32px;
}
.app__download  {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 37px 15px 37px;
    &:hover{
        background-color: #fff;
        color: #d22856;
    }
    &:active{
        background-color: #fff;
        color: rgba(0, 0, 0, 0.3);
    }
}
.app__list {
    width: 240px;
    list-style:  none;
    display: flex;
    align-items:flex-end;
    margin: 30px auto 22px auto;
    justify-content: space-around;
    padding: 0;
}
.app__link {
    display: flex;
}
.app__icon--apple {
    background-image: url(../img/logo-apple.svg);
    background-repeat: no-repeat;
    height: 57px;
    width: 47px;
}
.app__icon--android {
    background-image: url(../img/logo-android.svg);
    background-repeat: no-repeat;
    height: 48px;
    width: 43px;
}
.app__icon--windows {
    background-image: url(../img/logo-microsoft.svg);
    background-repeat: no-repeat;
    height: 42px;
    width: 44px;
    margin-bottom: 2px;
}
.app__for {
    font-weight: 300;
    font-size: 14px;
    margin: auto;
    margin-top: 7px;
    text-align: center;
    width: 250px;
    line-height: 23px;
}
