.intro {
  display:flex;
  flex-wrap: wrap;
}
.intro__top {
  min-height: 395px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: top -67px left 0px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.intro__title {
  color: #fff;
  font-weight: 300;
  text-align: center;
  padding-left: 48px;
  max-width: 225px;
}

